<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Volume Controller</title>
    <link rel="stylesheet" href="plugins/css/plugins.min.css">
    <script src="plugins/js/jquery.min.js"></script>
    <script src="plugins/js/plugins.min.js"></script>
    <script src="custom/js/popup.js"></script>
    <link rel="stylesheet" href="custom/css/popup.css">
</head>

<body ng-app="main">
    <div ng-controller="AppCtrl as ctrl" ng-cloak>
        <div style="padding:10px">


            <!-- <span ng-click="promote1Show(!0)" class="promoteSpan" ng-if="!promote1">
            <img src="images/insta.gif" alt="instagram">
          </span> -->
              <div class="promote1"  ng-if="promote1">
              <div class="promoteDescription">
                <h2 ng-click="promote1Redirect()">
                  <img src="images/instaFly.png" id="logoImg">
                  Instagram Automation
                </h2>
                <p><a href="#" class="options" ng-click="promote1Redirect()">Chrome extension</a> draws attention to your Instagram account by liking posts on your behalf.</p>
                <i ng-click="promote1Show(!1)">×</i>
              </div>
            </div>



            <h2>
                <img src="images/icon512.png" id="logoImg">
                Volume Manager
            </h2>
            <p>You can control volume of the current tab with the slider below or <a href="#" class="options" ng-click="redirect('shortcuts')">Alt + ↓↑</a></p>
        </div>
        <!-- <canvas id="visualizer" width="290" height="300"></canvas> -->
        <md-subheader class="md-no-sticky">Current Tab</md-subheader>
        <md-content id="currentTab">
            <md-list-item class="md-2-line">
                <img ng-src="{{currentFavIconUrl.length?currentFavIconUrl:filePNG}}" class="md-avatar md-icon-button" />
                <div class="md-list-item-text">
                    <div layout="column">
                        <div flex="80">
                            <md-slider flex ng-change="changing.currentLevel()" ng-model="currentLevel" step="1" min="0" max="100" aria-label="currentLevel" class="md-primary"></md-slider>
                            <span class="volumeSpans">VOLUME: {{currentLevel>100?100:currentLevel}}%</span>
                        </div>
                        <div flex flex-offset="66">
                            <span class="volumeSpans">BOOST: {{currentLevel>100?currentLevel/100-1:0}}x</span>
                            <md-slider ng-change="changing.currentLevel()" flex ng-model="currentLevel" step="50" min="100" max="800" aria-label="currentBoost" class="md-warn md-hue-2"></md-slider>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </md-content>
        <!-- <div class="getVisualizerPRO">
            1111
        </div> -->
        <div class="visualizerPRO">
            <canvas id="visualizer" width="320" height="100"></canvas>
            <label ng-click="showAlert($event)"><img src="/images/chess-piece.png"> {{showEqualizer?'Hide':'Open'}} Equalizer</label>
            <!-- <md-button class="md-primary md-raised">
              Alert Dialog
            </md-button> -->
        </div>
        <md-content id="equalizer" ng-hide="!showEqualizer">
            <div layout="row" layout-padding>
                <md-slider-container flex ng-repeat="x in equalizer">
                    <!-- <md-input-container>
                    <input flex type="number" ng-model="x.value" aria-label="equalizer stat" aria-controls="equalizer stat">
                  </md-input-container> -->
                    <md-slider ng-change="changing.equalizer()" ng-model="x.value" min="-40" max="40" step="1" aria-label="equalizer stat" class="md-primary" md-vertical></md-slider>
                    <h5>{{x.name}}</h5>
                </md-slider-container>
            </div>
            <!-- <md-input-container id="eqiPresets">
              <label>State</label>
              <md-select ng-model="asd">
                <md-option ng-repeat="(key, val) in presetsEqualzers" ng-value="val" selected>
                  {{key}}
                </md-option>
              </md-select>
            </md-input-container> -->
            <md-menu md-offset="0 -7">
                <md-button aria-label="Open presets menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon style="font-size: 26px">⚙</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="(key, val) in presetsEqualzers">
                        <md-button ng-click="presetEqualizer(val)"> {{key}} </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-content>
        <!-- <canvas id="visualizer1" width="350" height="50"></canvas> -->
        <!-- <md-subheader class="md-no-sticky" ng-if="!controlledTabs.length && !noizeTabs.length && !shows">Go to <a href="#" style="top: 0;" ng-click="redirect('options')">options</a> to setting up the extension!</md-subheader> -->
        <md-subheader class="md-no-sticky" ng-if="controlledTabs.length || noizeTabs.length">Tabs playing audio right now</md-subheader>
        <md-content style="overflow-y: hidden;">
            <md-list-item class="md-2-line" ng-repeat="x in controlledTabs">
                <img ng-click="redirect(x.id)" ng-src="{{x.favIconUrl}}" class="md-avatar md-icon-button" />
                <div class="md-list-item-text">
                    <h4>{{x.tabName}}</h4>
                    <div layout="row">
                        <div flex="80">
                            <md-slider flex ng-change="changing.controlledTabs(x.id, x.volumeLevel)" ng-model="x.volumeLevel" step="1" min="0" max="100" aria-label="currentLevel" class="md-primary"></md-slider>
                        </div>
                        <div flex="5"></div>
                        <div flex="15">
                            <md-slider ng-change="changing.controlledTabs(x.id, x.volumeLevel)" flex ng-model="x.volumeLevel" step="50" min="100" max="800" aria-label="currentBoost" class="md-warn md-hue-2"></md-slider>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-repeat="x in noizeTabs" ng-click="redirect(x.id)">
                <img ng-src="{{x.favIconUrl}}" class="md-avatar" />
                <div class="md-list-item-text">
                    <h4>{{x.tabName}}</h4>
                    <p>Click to switch the tab</p>
                </div>
            </md-list-item>
        </md-content>
        {{test}}
        <md-subheader class="md-no-sticky" style="margin-top: 10px">Can you spen few seconds to <a ng-click="redirect('review')" style="top: 0; cursor: pointer;">rate my work</a>?</md-subheader>
    </div>
</body>

</html>