html, body{
	min-height: 100px;
	min-width: 350px;
	width: 350px;
	/*width: 800px;*/
	height: auto;
}
body{
	/*border: 1px solid black;*/
}
*:focus, *:focus{
    outline: none !important;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.payment-padding{
	min-height: 0 !important;
	height: auto !important;
}
.additionalInfo md-icon{
	/*text-align: center;*/
	/*height: 32px !important;*/
	/*font-weight: bold;*/
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	margin-right: 14px !important;
	text-align: center;
	color: rgb(0, 0, 0) !important;
}

.visualizerPRO{
	position: relative;
}
.visualizerPRO label{
    position: absolute;
    top: calc(50px - 16px);
    left: calc(175px - 58px);
    border: 2px solid #0000005c;
    border-radius: 5px;
    padding: 5px;
    background: #ffffff47;
    font-weight: bolder;
    color: #00000096;
    cursor: pointer;
    opacity: 0.3;
}
.visualizerPRO label img{
    height: 20px;
    margin: -5px 0;
}
.visualizerPRO:hover label{
	opacity: 1;
}
.visualizerPRO label:hover{
	color: #000000fc;
	border-color: #00000082;
	background: #ffffff9c;
}
#visualizer{
	display: block;
	margin: auto;
	margin-top: -30px;
	margin-bottom: 10px;
}
#visualizer1{
	display: block;
	margin: auto;
	/*margin-top: -60px;*/
	margin-bottom: 10px;
}
.getVisualizerPRO{
	position: absolute;
}

#equalizer{
	margin-top: -10px;
	margin-bottom: -10px;
	overflow: visible !important;
	z-index: 2;
	background: none;
}
#equalizer input::-webkit-outer-spin-button,
#equalizer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#equalizer input{
	padding: 0 !important;
}
#equalizer md-menu{
	position: absolute;
    bottom: -21px;
    right: 0;
}
#eqiPresets{
	position: absolute;
    top: -50px;
    right: 15px;
}



#currentTab{
	background: unset;
	z-index: 5;
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
}
md-slider {
	min-width: 0 !important;
}
.layout-row{
	overflow: visible !important;
}
#logoImg{
	float: left;
  height: 40px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: -3px;
}
h2{
    font-size: 36px;
    line-height: 1;
    font-weight: lighter;
}
h2 + p{
    margin: 10px 0;
    margin-bottom: 0;
}
a{
	position: relative;
  text-decoration: none;
  color: #5454ff;
}
.volumeSpans{
	white-space: nowrap;
	position: relative;
	top: -25px;
}
.volumeSpans:nth-child(1){
  top: -45px;
}
md-list-item, md-list-item > div{
	height: 62px !important;
	min-height: 62px !important;
}
#currentTab .md-list-item-text, #currentTab  md-list-item, #currentTab{
  height: 70px !important;
  /*min-height: 62px !important;*/
}
#currentTab md-list-item .md-avatar{
  height: 32px;
  width: 32px;
}
#currentTab .md-list-item-text > div > div:nth-child(2) md-slider{
  margin-top: -50px;
}
.md-list-item-text{
	padding: 0 !important;
}
md-list-item .md-list-item-text{
  overflow: visible !important;
  max-width: 271px;
}
#currentTab .md-list-item-text{
  overflow: visible !important;
  height: 90px !important;
}

.md-avatar{
	margin-right: 10px !important;
}
.md-secondary-container{
	display: none !important;
}
md-list-item:not(._md-button-wrap){
	padding: 0 10px !important;
}
md-list-item > div{
	padding: 0 10px !important;
}
md-list-item .md-avatar{
	height: 32px;
	width: 32px;
}
md-list-item md-slider{
	position: relative;
    top: -10px;
}
md-list-item:not(._md-button-wrap) h4{
	margin-top: 10px !important;
}

#currentROW {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
    padding-top: 20px;
}
.md-subheader .md-subheader-inner {
    padding-top: 6px;
}


.promote1{
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1000;
}
.promoteSpan{
	position: absolute;
	right: 7px;
  top: 6px;
	width: 20px;
	z-index: 0;
	cursor: pointer;
	outline: 0 !important;
}
.promoteSpan > img{
	width: 100%;
}
.promoteDescription{
	background-color: #fafafa;
	padding: 10px;
}
.promoteDescription > i{
	position: absolute;
	right: 4px;
	top: 17px;
	font-size: 22px;
	width: 20px;
	cursor: pointer;
	outline: 0 !important;
}
.promoteDescription h2{
	font-size: 32px;
	line-height: 37px;
}
