#VadagonVolumeStatus{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	position: fixed;
	z-index: 999999999999;
	background-color: rgba(0,0,0,.5);
	width: 300px;
	height: 300px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 25px;
	top:50%;  
	left:50%;  
	margin:-125px 0 0 -150px; 
	opacity: 0;
	pointer-events: none; 
	box-shadow: 0 0 39px -8px black;
}
#VadagonVolumeStatus img{
	height: 170px;
    margin: 30px 40px;
}
#VadagonVolumeStatus .VadagonVolumeStatusElems{
	width: 100%;
}
#VadagonVolumeStatus .VadagonVolumeStatusElems span{
	width: 6.33333%;
	height: 15px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 1%;
	background-color: #1c1c1c;
	opacity: .7;
}