@tailwind base;
@tailwind components;
@tailwind utilities;

// Chrome applies an 8px margin by default (gross).

html, body{
	min-height: 100px;
	min-width: 350px;
	width: 350px;
	/*width: 800px;*/
	height: auto;
}
body {
    margin: 0px;
    // background-color: $background-color;
    // border: 2px solid $primary-color;
    // color: $primary-color;
    display: block;
}
*:focus, *:focus{
    outline: none !important;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}